*, 
*:before, 
*:after {
    box-sizing: border-box;
}

.header-sub .top-menu-cke-logo a {
    background-image: url("./imgs/cke-logo.svg");
    background-repeat: no-repeat;
    background-size: 38px;
    background-position: 1em 5px;
    border-bottom: 0;
    padding-left: 65px;
}

.header-sub a {
    display: block;
    font-weight: 600;
    text-decoration: none;
    color: #555;
    border-bottom: 2px solid transparent;
    position: relative;
    height: 45px;
    line-height: 45px;
    padding: 0 1em;
}

.header-sub a:hover, .header-sub a:active {
    border-color: #3e59ad;
}

.header-sub a:hover {
    background-color: #eee;
}

li .top-menu-github-link:hover {
    border-color: transparent;
}

.header-sub li {
    margin-right: 1em;
}