*, 
*:before, 
*:after {
    box-sizing: border-box;
}

details, 
figcaption, 
figure, 
footer, 
header, 
nav, 
section {
    display: block;
}
 
h1, 
h2, 
h3, 
h4, 
p, 
blockquote, 
pre, 
a, 
img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.live-snippet p, 
blockquote, 
pre, 
ul {
    font-size: 1em;
    line-height: 1.5em;
    padding-top: 0.2em;
    margin-bottom: 0.8em;
}

a {
    color: #1b3af2;
    text-decoration: none;
}

p {
    font-size: 0.9em;
    line-height: 1.5em;
    padding-top: 0.2em;
    margin-bottom: 0.8em;
}

h2 {
    font-size: 1.5em;
    line-height: 1.5em;
    padding-top: 0.8em;
    margin-bottom: 0.4em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #e9e9e9;
    font-weight: 400;
}

h3 {
    font-size: 1.36em;
    line-height: 1.5em;
    padding-top: 1em;
    margin-bottom: 0.2em;
    font-weight: 400;
}

ul {
    padding-left: 1em;
}

.header-sub .top-menu-cke-logo a {
    background-image: url("./imgs/cke-logo.svg");
    background-repeat: no-repeat;
    background-size: 38px;
    background-position: 1em 5px;
    border-bottom: 0;
    padding-left: 65px;
}

.search-container {
    position: absolute;
    top: 65px;
    right: 60px;
  }
  
  .top-search-box:focus {
    outline: 2px solid #5db913;
    box-shadow: 0 0 5px #5db913;
  }

.header-sub a {
    display: block;
    font-weight: 600;
    text-decoration: none;
    color: #555;
    border-bottom: 2px solid transparent;
    position: relative;
    height: 45px;
    line-height: 45px;
    padding: 0 1em;
}

.header-sub a:hover, .header-sub a:active {
    border-color: #3e59ad;
}

.header-sub a:hover {
    background-color: #eee;
}

li .top-menu-github-link:hover {
    border-color: transparent;
}

.header-sub li {
    margin-right: 1em;
    font-size: 1em;
}

.main-content-title {
    font-size: 2.36em;
    line-height: 1.33em;
    padding-top: 1em;
    margin-bottom: 1.67em;
}

.rwd-breadcrumbs a {
    display: inline-block;
    font-size: 1em;
}

.rwd-breadcrumbs-separator {
    opacity: .3;
    margin: 0 5px;
    display: inline-block;
}

.image {
    display: table;
    margin-top: 0;
    clear: both; 
    margin: 1em; 
    min-width: 50px; 
    max-width: 50%; 
    border: 2px solid #f7f7f7; 
    text-align: center; 
    float: right;
}

.image figcaption {
    background-color: #f7f7f7;
    caption-side: bottom;
    color: #333;
    display: table-caption;
    font-size: .75em;
    outline-offset: -1px;
    padding: 0.6em;
    word-break: break-word;
}

.live-snippet img {
    display: block;
    text-align: center;
    clear: both;
    margin: 0 auto;
    max-width: 100%; 
    min-width: 100%;
    height: auto;
}

.tree-item-nested-list {
    position: relative;
    cursor: pointer;
    display: block;
}

.tree-item-wrapper span {
    display: inline-block;
    padding: 0.3em 0;
    position: relative;
    margin-right: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0;
    margin-bottom: 0;
}

.d-none {
    display: none;
} 

.tree {
    font-size: 0.9em;
    font-family: inherit;
}

.tree li {
    position: relative;
    cursor: pointer;
    display: block;
}

.tree li a {
    text-decoration: none;
    color: inherit
}

.tree-item-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 1em;
}

.tree-item-wrapper:hover, .tree-item-wrapper:active {
    overflow: hidden;
    background-color: #f2f5f7;
}

.tree-item-wrapper:hover {
    text-decoration: underline;
}

.search-bar-nav-inner h1 {
    background-color: #f2f5f7;
    font-weight: 600;
    font-size: 1.1em;
    color: #555;
    border-bottom: 1px solid black;
    padding: 0.5em 0 0.5em 1em;
}

summary {
    padding-bottom: 10px;
    font-size: 0.9em;
}

code {
    font-family: Monaco,Menlo,Consolas,"Roboto Mono","Courier New","Ubuntu Mono",monospace;
}

.highlight code {
    background: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
    position: relative;
    left: -210px;
}

:not(pre)>code.highlight[class*=language-], 
pre.highlight[class*=language-] {
    background: #272822;
}

pre.highlight[class*=language-] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
    border-radius: 0.3em;
}

code.highlight[class*=language-],
pre.highlight[class*=language-] {
    color: #f8f8f2;
    text-shadow: 0 1px rgb(0 0 0 / 30%);
    font-family: Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
    font-size: .9em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.75;
    tab-size: 4;
    hyphens: none;
}

.token.class-name, 
.token.operator, 
.token.entity, 
.token.url, 
.language-css 
.token.string, 
.style .token.string, 
.token.variable {
    color: #f8f8f2;
}

.token.property, 
.token.attr-name, 
.token.tag, 
.token.constant, 
.token.symbol, 
.token.deleted, 
.token.keyword {
    color: #f92672;
}

.token.selector, 
.token.string, 
.token.char, 
.token.builtin, 
.token.inserted, 
.token.atrule, 
.token.attr-value {
    color: #e6db74;
}

.token.property, 
.token.attr-name, 
.token.tag, 
.token.constant, 
.token.symbol, 
.token.deleted, 
.token.keyword {
    color: #f92672;
}

.token.punctuation {
    color: #f8f8f2;
}

.token.function {
    color: #a6e22e;
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
    color: #8292a2;
}

.toolbar button.copy-to-clipboard-button::before {
    content: url("imgs/clipboard-icon.svg");
    margin-left: 2px;
}

.toolbar button::before {
    width: 20px;
    height: 20px;
    filter: invert(1);
}

footer {
    position: relative;
    z-index: 30;
    font-size: 0.7rem;
    width: 340px;
    height: 50px;
    float: right;
}

footer p {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #333;
    bottom: 1.333em;
    right: 1.5em;
}

._hj-0izHt__MinimizedWidgetBottom__container {
    bottom: 2.5em;
}

/* All media queries */



@media only screen and (min-width: 960px) {
    .tree-item-nested-list span {
        margin-left: 0.5em;
    }
}


@media only screen and (min-width: 1360px) {
    .main .main-content {
        padding-right: 340px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .main-content-inner {
        min-width: 910px;
    }   
}



